<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio AI-Assisted Annotation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Audio AI-Assisted Annotation</h1>
    <form method="POST">
        <button type="submit" name="next">next</button>
        <br>
        <button type="submit" name="annotate">annotate</button>
        <input type="text" name="text_input" value={{ text_input }}>
    </form>
    <div id="text-display-1">
        <p>{{ text_display_1 }}</p>
    </div>
    <div id="text-display-2">
        <p>{{ text_display_2 }}</p>
    </div>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename=audio_path) }}" type="audio/wav">
    Your browser does not support the audio element.
    </audio>
</body>
</html>
